{% extends "base_todo_list.html"%}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h3>Your To-Do List</h3>
    {% if tasks %}
        <table class = "table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Due
                </th> 
                <th>
                </th>
                <th>
                </th>                 
            </tr>

        {% for task in tasks %}
            <tr>
                <td>
                    {{ forloop.counter }} 
                </td>
                <td>
                    {{ task.title }}
                </td>
                <td>
                    {{ task.end_date }}
                </td>
                <td>
                    <a href = "{% url 'task_details' task.pk %}" class = "btn btn-primary">Details/Edit</a>
                </td>
                <td>
                    <form action = "{% url 'delete_task' task.pk %}" method = "POST">
                        {% csrf_token %}
                        <button type = "submit" class = "btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <h3>No tasks to display</h3>
    {% endif %}
    <h3>Insert New Task</h3>
    <form method = "POST">
        {% csrf_token %}
        {{ form }}
        <button type = "submit">Submit</button>
    </form>
</div>
{% endblock page_content %}